<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <title>答疑解惑</title>
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" /> -->
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/questions.css" />

    <style>


        @media only screen and (min-width: 768px) {
            input {
                margin-top: 5px;
            }
        }





    </style>
</head>

<body>
<div class="logo-container">
    <div class="logo">
        <img src="<?php echo Homessy;?>/logo.png" alt="SIEMENS">
        <i class="fa fa-search fa-lg"></i>
        <input class="inp-search" type="text" value="aaa">

    </div>
</div>
<div class="tabs">
    <div class="title active">常见问题</div>
    <div class="title">产品问题</div>
    <div class="title">接线问题</div>
</div>
<div class="ques-container">

    <div class="one-Q">
        <div class="ques">
            <span class="text">按时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三？</span>
            <span class="i-con"><i class="fa fa-angle-right fa-lg"></i></span>
        </div>
        <div class="ans">
            按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发
        </div>
        <input type="text" class="pro" data-type="" data-id=""/>
    </div>
    <div class="one-Q">
        <div class="ques">
            <span class="text">按时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三时发顺丰三？</span>
            <span class="i-con"><i class="fa fa-angle-right fa-lg"></i></span>
        </div>
        <div class="ans">
            按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发按时发顺丰三时发顺丰三时发
        </div>
        <input type="text" class="pro" data-type="" data-id=""/>
    </div>
</div>
<script type="text/javascript" src="<?php echo HomeJsUrl;?>/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="<?php echo HomeJsUrl;?>/questions.js"></script>
</body>

</html>