<layout name="footer" />
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>博大精深，同心致远</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
		<style>
			@media only screen and (max-width: 320px) {
				.fff{
					top: 50%;
				}
			}
		</style>
	</head>

	<body> 
		<div class="container">
			<div class="adk">
				<img src="<?php echo HomeImgUrl;?>/story_2.png">
					<div class="next_2">
					<a href="story_3.html">&gt;&gt;</a>
					</div>
			<div class="fff">
				<p>
					西门子以客户面临的挑战力为驱动力，凭借卓越的工程技术与创新能力，以领先的电气化、 自动化和数学化产品，解决方案和服务，为客户带来更大价值——更强的灵活性，更高的效率，更快的上市时间，实现可持续的发展。我们将这种力量称之为
					<br />
					<br />
					<span>“博大精深，同心致远”</span>
					<div class="div_bottom"></div>
				</p>
			</div>
			</div>

		</div>
	</body>

</html>