<layout name="footer" />
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>改变世界的企业</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
	</head>

	<body background="<?php echo HomeImgUrl;?>/b_2.png"style="background-repeat:no-repeat;background-size:100% 100%;background-attachment: fixed;">
		<div class="container" style="overflow: auto;">
			<div class="con_logo"><img src="<?php echo HomeImgUrl;?>/SIEMENS.png"></div>
			<div class="mulu">
				<div class="con">
					<br />
					<br />
					<p>关于西门子</p>
					<span style="display: block;">改变世界的企业</span>
					<br />
 <p style="border-top: 1px solid black;padding-top: 10px;">西门子股份公司是全球领先的技术企业，创立于1847年，业务遍及全球200多个国家，专注于电气化、自动化和数字化领域。作为世界知名的高效能源和资源节约型技术供应商之一，西门子在海上风机建设、燃气轮机和蒸汽轮机发电、输电解决方案，基础设施解决方案、工业自动化、驱动和软件解决方案，以及医疗成像设备和实验室诊断等领域占据领先地位。</p>
					<br />
<p>西门子自1872年进入中国，140余年来以创新的技术、卓越的解决方案和产品坚持不懈地对中国的发展提供全面支持，并以出众的品质和令人信赖的可靠性、领先的技术成就、不懈的创新追求，在业界独树一帜。2015财年（2014年10月1日至2015年9月30日），西门子在中国的总营收达到69.4亿欧元，拥有约32000名员工。西门子已经发展成为中国社会和经济不可分割的一部分，并竭诚与中国携手合作，共同致力于实现可持续发展。
					</p>
					
					<!--<div class="div_bottom"></div>-->
				</div>
			</div>
			<div class="next_1">
				<a href="story_2.html">&gt;&gt;</a>
			</div>
		</div>

	</body>

</html>