<layout name="footer" />
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>创新技术造就卓越产品</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
		<style>
		@media only screen and (min-width:375px) {
			.model{
				left: 3%;
			}
		}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="product_logo"><img src="<?php echo HomeImgUrl;?>/SIEMENS.png"></div>
			<div class="banner"></div>
			<br />
			<div class="jilu">
				<div class="model">
					<div class="squre"><img src="<?php echo HomeImgUrl;?>/select.png"></div>
					<div class="title">
						<h3>产品研究</h3>
					</div>
				</div>

				<br />
				<br />
				<br />
				<br />
				<table class="s3" border="0">
					<tr>
						<td style="width: 20%;">1899</td>
						<td>西门子首款开关插座在德国问世</td>
					</tr>
					<tr>
						<td>2000</td>
						<td>西门子首款本土化产品远景系列面世</td>
					</tr>
					<tr>
						<td>2003</td>
						<td>灵动系列面世</td>
					</tr>
					<tr>
						<td>2005</td>
						<td>模块化设计的灵致系列面世</td>
					</tr>
					<tr>
						<td>2009</td>
						<td>品宜系列面世</td>
					</tr>
					<tr>
						<td>2010</td>
						<td>点晶，悦动系列面世</td>
					</tr>
					<tr>
						<td>2013</td>
						<td>睿致系列面世，风逸X3、M3、M5系列移动式插座面世</td>
					</tr>
					<tr>
						<td>2014</td>
						<td>锐逸系列配线箱面世</td>
					</tr>
					<tr>
						<td>2015</td>
						<td>绿色系列低压终端配电产品引入零售市场</td>
					</tr>
					<tr>
						<td>2016</td>
						<td>风逸X1，M1系列移动式插座面世</td>
					</tr>
					<tr>
						<td>2018</td>
						<td>映彩系列面世</td>
					</tr>
					<tr>
						<td>2018</td>
						<td>皓睿系列瓷感上市</td>
					</tr>
					<tr>
						<td>2018</td>
						<td>首款智能家居单品西睿空气检测仪问世</td>
					</tr>
					<tr>
						<td>2019</td>
						<td>新照明时代先锋睿绎系列面世</td>
					</tr>
					<tr>
						<td>2019</td>
						<td>灵蕴系列上市</td>
					</tr>
				</table>
			</div>
			<div class="jilu">
				<div class="model" style="height: 250px;">
					<div class="squre"><img src="<?php echo HomeImgUrl;?>/select.png"></div>
					<div class="title">
						<h3>科研与创新</h3>
					</div>
				</div>
				<br />
				<br />
				<br />
				<br />
				<table class="s3" border="0">
					<tr>
						<td style="width: 20%;">2003</td>
						<td>西门子开关插座中国研发中心建立</td>
					</tr>
					<tr>
						<td>2007</td>
						<td>西门子开关插座亚洲生产基地落成，成为全球三大生产基地之一</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">2009</td>
						<td>建立第一家开关插座专卖店，成功引领行业创新业态</td>
					</tr>
					<tr>
						<td>2016</td>
						<td>建立第一家开关插座体验店，开创家居电气产品体验新概念</td>
					</tr>
				</table>
			</div>

			<div class="jilu">
				<div class="model" style="height: 450px;">
					<div class="squre"><img src="<?php echo HomeImgUrl;?>/select.png"></div>
					<div class="title">
						<h3>荣誉与奖项</h3>
					</div>
				</div>
				<br />
				<br />
				<br />
				<br />
				<table class="s3" border="0"> 
					<tr>
						<td style="width: 20%;">2003</td>
						<td>灵动系列获得Red Dot Award红点国际设计大奖</td>
					</tr>
					<tr>
						<td>2013</td>
						<td>睿致系列凭借多项专利荣获IF工业设计大奖</td>
					</tr>
					<tr>
						<td class="t_num" style="white-space:nowrap;padding-left:0.3rem; text-align: left !important; ">2010-2015</td>
						<td>连续六年获得中国房地产开发采购首选品牌</td>
					</tr>
					<tr>
						<td>2013</td>
						<td>连续多年业绩高速增长，荣获中高端市场份额第一</td>
					</tr>
					<tr>
						<td>2017</td>
						<td>荣获2017年中国家居行业奥斯卡“大雁奖”</td>
					</tr>
					<tr>
						<td>2018</td>
						<td>映彩系列斩获iF设计奖，引领时尚潮流</td>
					</tr>
					<tr>
						<td>2018</td>
						<td>西睿空气检测仪荣获2018台湾金点设计奖</td>
					</tr>
					<tr>
						<td>2019</td>
						<td>西睿空气检测仪摘取德国iF设计奖</td>
					</tr>
					<tr>
						<td>2019</td>
						<td>西睿空气检测仪、睿绎系列荣获2019德国红点设计奖</td>
					</tr>
				</table>
				<div class="div_bottom"></div>
			</div>

		</div>

	</body>

</html>