<layout name="layout"/>

<!-- 列表 -->
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1" class="table">
        <tr>
            <th width="40%">菜单名称</th>
            <th width="20%">点击次数</th>
            <th width="20%">点击人数</th>
            <th width="20%">详情</th>
        </tr>
        <foreach name="data" item="v">

            <tr class="tron">
                <td>{$v.name}</td>
                <td>{$v.count}</td>
                <td>{$v.uVcount}</td>
                <td> <a href="<?php echo U('info?type='.$v['type']); ?>" title="详情">详情</a></td>
            </tr>
        </foreach>
    </table>
</div>

<script>
</script>

<script src="__PUBLIC__/Admin/Js/tron.js"></script>