<layout name="footer" />
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>经典系列</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
	</head>
	<body>
		<div class="container">
			<div class="product_logo"><img src="<?php echo HomeImgUrl;?>/SIEMENS.png"></div>
			<div class="box">
				<ul>
					<li><img src="<?php echo HomeImgUrl;?>/001.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/ximenziruizhi.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/003.png"></li><br />
					<li><img style="width: 40%;" src="<?php echo HomeImgUrl;?>/004.png"></li><br />
					<li><img src="<?php echo HomeImgUrl;?>/005.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/006.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/007.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/008.png"></li><br />
					<li><img style="width: 40%;" src="<?php echo HomeImgUrl;?>/009.png"></li><br />
					<li><img src="<?php echo HomeImgUrl;?>/010.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/011.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/012.png"></li><br />
					<li><img style="width: 40%;" src="<?php echo HomeImgUrl;?>/013.png"></li><br />
					<li><img src="<?php echo HomeImgUrl;?>/014.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/015.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/016.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/017.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/018.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/019.png"></li><br />
					<li><img style="width: 40%;" src="<?php echo HomeImgUrl;?>/020.png"></li><br />
					<li><img src="<?php echo HomeImgUrl;?>/021.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/022.png"></li>
				</ul>
			</div>
		</div>
	</body>
</html>
