<layout name="footer"/>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>家居小贴士</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
	</head>
	<body>
		<div class="container">
			<div class="banner_fire">
				<ul>
					<li><img src="<?php echo HomeImgUrl;?>/tips3.png"></li>
					<li><img src="<?php echo HomeImgUrl;?>/tips1.png"></li>
					<li><h1>可怕的电气火灾</h1><p>是什么原因导致电气火灾如此凶猛？虽然原因复杂多样，但归结起来不外乎几种</p></li>
					<li><img src="<?php echo HomeImgUrl;?>/tips2.png"></li>
					<li>
						<h1>家居用电安全</h1>
						<p>家居用电安全我们首先要清楚在家居中电是如何分布的,断路由器和开关插座是家居安全的重要的节点</p>
					</li>
				</ul>
				<div class="div_bottom"></div>
			</div>
		</div>
	</body>
</html>
