<layout name="layout" />
<div class="div_from_aoto" style="width: 500px;">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">

            <div class="control-group">
                <label class="laber_from">店铺名称<sup style="color: red;">*</sup></label>
                <div  class="controls" ><input class="input_from"  name="shop_name" type='text' ><P class=help-block></P></div>
            </div>
            <div class="control-group">
                <label class="laber_from">店铺链接地址<sup style="color: red;">*</sup></label>
                <div  class="controls" ><input class="input_from"  name="shop_url" type='text' ><P class=help-block></P></div>
            </div>
            <div class="control-group">
                <label class="laber_from">店铺类型<sup style="color: red;">*</sup></label>
                <div  class="controls" >
                    <select class="input_select" name="shop_type" >
                        <option value="">请选择</option>
                        <option value="1">旗舰店</option>
                        <option value="2">专卖店</option>
                        <option value="3">平台专营店</option>
                        <option value="4">京东平台方自营店</option>
                    </select>
                </div>
            </div>
            <DIV class="control-group">
                <LABEL class="laber_from" ></LABEL>
                <DIV class="controls" >
                    <button type="submit" class="btn btn-primary" value="确认">确认</button>
                    <button type="reset" class="btn btn-primary" value="重置">重置</button>

                </DIV>
            </DIV>


    </form>
</div>


<script>
</script>