<layout name="layout" />
<div class="div_from_aoto" style="width: 500px;">
    <form name="form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
        <div class="control-group">
            <label class="laber_from">店铺名称<sup style="color: red;">*</sup></label>
            <DIV  class="controls" ><input class="input_from"  name="shop_name" type=text value="<?php echo $data['shop_name'];?>" ><P class=help-block></P></DIV>
        </div>
        <div class="control-group">
            <label class="laber_from">店铺链接地址<sup style="color: red;">*</sup></label>
            <DIV  class="controls" ><input class="input_from"  name="shop_url" type=text value="<?php echo $data['shop_url'];?>" ><P class=help-block></P></DIV>
        </div>
        <div class="control-group">
            <label class="laber_from">店铺类型<sup style="color: red;">*</sup></label>
            <div  class="controls" >
                <select class="input_select" name="shop_type" >
                    <option value="" >请选择</option>
                    <option value="1" <?php if($data['shop_type']==1) echo 'selected';?>>旗舰店</option>
                    <option value="2" <?php if($data['shop_type']==2) echo 'selected';?>>专卖店</option>
                    <option value="3" <?php if($data['shop_type']==3) echo 'selected';?>>平台专营店</option>
                    <option value="4" <?php if($data['shop_type']==4) echo 'selected';?>>京东平台方自营店</option>
                </select>
            </div>
        </div>
        <DIV class="control-group">
            <LABEL class="laber_from" ></LABEL>
            <DIV class="controls" >
                <button type="submit" class="btn btn-primary" value="提交">确认</button>

            </DIV>
        </DIV>

    </form>
</div>