<layout name="footer"/>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>了解产品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css">
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/swiper.min.css">
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/index.css">

</head>

<body>
    <div class="page-contain">
        <header>
            <div class="logo">
                <img src="<?php echo Homessy;?>/logo.png" alt="SIEMENS">
            </div>
            <nav class="nav-nearPro">
                <ul>
                    <li class="li-nearPro type1 active" id="type1"><img src="<?php echo Homessy;?>/nav1.png" alt=""></li><li class="li-nearPro type2" id="type2"><img src="<?php echo Homessy;?>/nav2.png" alt=""></li><li class="li-nearPro type3" id="type3"><img style="width: 100%;" src="<?php echo Homessy;?>/nav3.png" alt=""></li><li class="li-nearPro type4" id="type4"><img src="<?php echo Homessy;?>/nav4.png" alt=""></li><li class="li-select" id="type0"><img src="<?php echo Homessy;?>/nav5.png" alt=""></li>
                </ul>
            </nav>
            <div class="types">
               <span class="span-types" id="type1-1">按系列</span>
                <span class="span-types" id="type1-2">按颜色</span>
                <span class="span-types" id="type1-3">按材质</span>
            </div>
        </header>
        <section class="sec-index index-1">
            <div class="bac-img-1">
                <img src="<?php echo Homessy;?>/index-bac1.png" alt="">
            </div>
            <div class="switches">
            	<!--睿智-->
                <p class="switch-contain toSeries" id="type0-1-1">
                    <img src="<?php echo Homessy;?>/switch-1.png" alt="">
                </p>
                <!--皓睿-->
                <p class="switch-contain toSeries" id="type0-1-2">
                    <img src="<?php echo Homessy;?>/switch-10.png" alt="">
                </p>
                <!--映彩-->
                <p class="switch-contain toSeries" id="type0-1-3">
                    <img src="<?php echo Homessy;?>/switch-2.png" alt="">
                </p>
                <!--睿绎-->
                <p class="switch-contain toSeries" id="type0-1-4">
                    <img src="<?php echo Homessy;?>/switch-11.png" alt="">
                </p>
                <!--点晶-->
                <p class="switch-contain toSeries" id="type0-1-5">
                    <img src="<?php echo Homessy;?>/switch-3.png" alt="">
                </p>
                <!--悦动-->
                <p class="switch-contain toSeries" id="type0-1-6">
                    <img src="<?php echo Homessy;?>/switch-7.png" alt="">
                </p>
                <!--远景-->
                <p class="switch-contain toSeries" id="type0-1-7">
                    <img src="<?php echo Homessy;?>/switch-6.png" alt="">
                </p>
                
                <!--品易-->
                <p class="switch-contain toSeries" id="type0-1-8">
                    <img src="<?php echo Homessy;?>/switch-8.png" alt="">
                </p>
                <!--灵智-->
                <p class="switch-contain toSeries" id="type0-1-9">
                    <img src="<?php echo Homessy;?>/switch-4.png" alt="">
                </p>
                <!--灵动-->
                <p class="switch-contain toSeries" id="type0-1-10">
                    <img src="<?php echo Homessy;?>/switch-5.png" alt="">
                </p>
                <!--地插-->
                <p class="switch-contain toSeries" id="type0-1-11">
                    <img src="<?php echo Homessy;?>/switch-9.png" alt="">
                </p>
            </div>
        </section>
        <section class="sec-index index-2 hide">
            <div class="bac-img">
                <img src="<?php echo Homessy;?>/index-bac2.png" alt="">
            </div>
        </section>
        <section class="sec-index index-3 hide">
            <div class="bac-img">
                <img src="<?php echo Homessy;?>/index-bac3.png" alt="">
            </div>
        </section>
        <section class="sec-index index-4 hide">
            <div class="bac-img">
                <img src="<?php echo Homessy;?>/index-bac4.png" alt="">
            </div>
        </section>
        <section class="sec-1-1">
            <div>
                <div class="swiper-container swiper-series">
                    <div class="swiper-wrapper">
                    	<!--睿智-->
                        <div class="swiper-slide" id="1">
                            <img src="<?php echo Homessy;?>/banner1.png">
                        </div>
                        <!--皓睿-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner10.jpg">
                        </div>
                        <!--映彩-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner9.png">
                        </div>
                        <!--睿绎-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner11.jpg">
                        </div>

                        <!--点晶-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner2.png">
                        </div>
                         <!--悦动-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner6.png">
                        </div>
                        <!--远景-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner5.png">
                        </div>
                         <!--品宜-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner7.png">
                        </div>
                        <!--灵智-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner3.png">
                        </div>
                        <!--灵动-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner4.png">
                        </div>
                        <!--地插-->
                        <div class="swiper-slide">
                            <img src="<?php echo Homessy;?>/banner8.png">
                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </section>
        <section class="sec-1-2 hide">
            <div class="color-switches"></div>
        </section>
        <section class="sec-1-3 hide">
            <div class="material-switches"></div>
        </section>
        <section class="sec-1-1-x sec-d-hasColor hide">

            <div class="dColor-contain">
                <!-- <span class="d-color active" id="1">炫白</span>
                <span class="d-color" id="2">钛银</span>
                <span class="d-color" id="3">耀金</span> -->
                <!-- <span class="d-color">耀金</span> -->
            </div>
            <div class="pro-contain">
                <h3 class="h3-switch">开关产品<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind1">
                
                </div>
                <h3 class="h3-switch">电源插座<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind2">
                </div>
                <h3 class="h3-switch">信息插座<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind3"></div>
                <h3 class="h3-switch">其他<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind4"></div>
            </div>
        </section>
        <section class="sec-1-1-x sec-dianjing hide">

            <div class="dColor-contain">
            </div>
            <div class="pro-contain">
                <h3 class="h3-switch">铝制<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind1">
                </div>
                <h3 class="h3-switch">玻璃<img src="<?php echo Homessy;?>/arrow.png" alt=""></h3>
                <div class="switch-kind switchKind2">
                </div>
            </div>
        </section>
        <section class="sec-1-1-x sec-d-noColor hide">
            <div class="pro-contain">
            </div>
        </section>
    </div>
    <!-- public -->
    <script type="text/javascript" src="<?php echo HomeJsUrl;?>/jquery-1.8.3.min.js"></script>
    <!-- swiper -->
    <script type="text/javascript" src="<?php echo HomeJsUrl;?>/swiper.min.js"></script>
    <!-- public -->
    <script type="text/javascript" src="<?php echo HomeJsUrl;?>/index.js"></script>
</body>

</html>
