
<!--  内容  -->
{__CONTENT__}
<div class="footer">
    <ul>
        <li>
            <a href="http://www.wawechat.siemens.com.cn/Home/Product/ssy_product"><img src="<?php echo HomeImgUrl;?>/product.png">
                <br />了解产品</a>
        </li>
        <li>
            <a href="http://www.wawechat.siemens.com.cn/Home/Select/select_lst"><img src="<?php echo HomeImgUrl;?>/heart.png">
                <br />自助选型</a>
        </li>
        <li>
            <a href="http://www.wawechat.siemens.com.cn/Home/Checkproduct/index"><img src="<?php echo HomeImgUrl;?>/glass.png">
                <br />产品验真</a>
        </li>
        <li>
            <a href="http://www.wawechat.siemens.com.cn/Home/Onshop/onshop"><img src="<?php echo HomeImgUrl;?>/fenzhi.png">
                <br />在线购买</a>
        </li>
        <li>
            <a href="http://www.wawechat.siemens.com.cn/Home/Nearshop/shop"><img src="<?php echo HomeImgUrl;?>/position.png">
                <br />附近店铺</a>
        </li>
    </ul>
</div>