<layout name="footer" />
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <title>物流查询</title>
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" /> -->
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/logistics.css" />
    <script type="text/javascript" src="<?php echo HomeJsUrl;?>/jquery-3.1.1.min.js"></script>
    <style>
        .check_logo {
            background-image: url(/Application/Home/public/Images/logistics.jpg);
        }

        @media only screen and (min-width: 768px) {
            input {
                margin-top: 5px;
            }

            .check_logo {
                height: 350px;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <div class="logo">
        <img src="<?php echo Homessy;?>/logo.png" alt="SIEMENS">
    </div>
</div>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src=" https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>