<layout name="footer" />
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0" />
    <title>物流查询</title>
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/font-awesome.min.css" />
    <!-- <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" /> -->
    <link rel="stylesheet" href="<?php echo HomeCssUrl;?>/logistics.css" />
    <script type="text/javascript" src="<?php echo HomeJsUrl;?>/jquery-3.1.1.min.js"></script>
    <style>
        .check_logo {
            background-image: url(/Application/Home/public/Images/logistics.jpg);
        }

        @media only screen and (min-width: 768px) {
            input {
                margin-top: 5px;
            }

            .check_logo {
                height: 350px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="wrapper">
                <div class="logo">
                        <img src="<?php echo Homessy;?>/logo.png" alt="SIEMENS">
                    </div>
                    <div class="hr"></div>
                    <div class="check_logo"></div>
                    <div class="search_one">
                        <div>
                            <p class="header2">自助查询</p>
                            <p class="grey-font"><i class="fa fa-caret-down fa-lg"></i> 请在下面的输入框中输入物流单号</p>
                            <div><input id="orderId" type="text" />
                                <button type="button" class="btn" id="btn">查询</button></div>
            
                        </div>
                        <div>
                            <p class="header2">人工查询</p>
                            <p class="grey-font"><i class="fa fa-caret-down fa-lg"></i> 我们的客服坐席电话为</p>
                            <div class="pad-left">
                                <p class="tel"><a class="tel" href="tel:021-36162220">021-36162220</a></p>
                                <p class="tel"><a class="tel" href="tel:021-36162223">021-36162223</a></p>
                                <p class="tel"><a class="tel" href="tel:021-36162266">021-36162266</a></p>
                            </div>
                            <div class="pad-left grey-font">请在我们的工作时间段【周一至周六，早08:00到晚05:00】联系我们，谢谢您的配合与支持。</div>
                        </div>
                    </div>
            
                    <div class="show_msg grey-font">
                    </div>
        </div>
        

        <div class="container-search">
            <button class="button con-search btn"><a href="logistics.html">继续查询</a>
            </button>
        </div>

    </div>

    <script>
        $("#btn").click(function () {
            var orderId = $("#orderId").val();
            if(orderId == null || orderId == "" || orderId ==undefined){
                return false;
            }
            $.ajax({
                url: "/index.php/Home/checkproduct/getOrder",
                type: 'post',
                data: { "orderId": orderId},
                success: function (msg) {
                    msg = JSON.parse(msg);
                    data = msg.data;
                    if (msg.code != '1') {
                        $('.show_msg').empty();
                        $('.show_msg').append("<p class='error-p' style='text-align:center;'>无查询物流信息</p>")//装填错误信息
                        $('.show_msg').show();//展示错误信息
                        searchChange();//各展示框变化
                        return;
                    }
                    var html = "";
                    if (data.nodes != undefined) {
                        for (var i = 0; i <data.nodes.length; i++) {
                            html += "<div class='track-con'>"
                            html += "<p class='track'><i class='fa fa-circle fa-lg'></i>    " + data.nodes[i].trackDate + "</p>";
                            html += "<p class='track'>" + data.nodes[i].trackState + "</p>";
                            html += "</div>"
                            //                        "日期"+data.nodes[i].trackDate+data.nodes[i].trackState
                        }
                        html += "<div class='track-con'>"
                        html += "<p class='track'>" + data.date + "</p>";
                        html += "<p class='track'>始发站" + data.startStation + "</p>";
                        html += "</div>"
                        //                始发站" + data.startStation + "日期" + data.date
                    }

                    $('.show_msg').empty();
                    $('.show_msg').append(html)//装填错误信息
                    $('.show_msg').show();//展示错误信息
                    searchChange();//各展示框变化
                    return;
                }
            })

        })

        //各展示框变化
        function searchChange() {
            $('.container-search').show();//继续搜索按钮
            $('.search_one').hide();//一次搜索按钮
        }
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src=" https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>