<layout name="layout" />
<div class="div_from_aoto" style="width: 500px;">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <div class="control-group">
                <label class="laber_from">队伍名称<sup style="color: red;">*</sup></label>
                <div  class="controls" ><input class="input_from"  name="team_name" type='text' ><P class=help-block></P></div>
            </div>
            <div class="control-group">
                <label class="laber_from">队伍图标<sup style="color: red;">*</sup></label>
                <div  class="controls" ><input class="input_from"  name="team_image" type='file' ><P class=help-block></P></div>
            </div>
            <DIV class="control-group">
                <LABEL class="laber_from" ></LABEL>
                <DIV class="controls" >
                    <button type="submit" class="btn btn-primary" value="确认">确认</button>
                    <button type="reset" class="btn btn-primary" value="重置">重置</button>

                </DIV>
            </DIV>
        </table>
    </form>
</div>


<script>
</script>