<layout name="footer"/>
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>电器选择</title>
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/reset.css" />
		<link rel="stylesheet" href="<?php echo HomeCssUrl;?>/aa.css" />
		<script type="text/javascript" src="<?php echo HomeJsUrl;?>/jquery-3.1.1.min.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="product_logo"><img src="<?php echo HomeImgUrl;?>/SIEMENS.png"></div>
			<div class="block">
				<ul>
					<li class="bbq"><img src="<?php echo HomeImgUrl;?>/choosehome_black.png"></li>
					<li class="dayuhao"><img src="<?php echo HomeImgUrl;?>/dayu_black.png"></li>
					<li class="bbq"><img src="<?php echo HomeImgUrl;?>/chooseele_black.png"></li>
					<li class="dayuhao"><img src="<?php echo HomeImgUrl;?>/dayu_white.png"></li>
					<li class="bbq"><img src="<?php echo HomeImgUrl;?>/addchoose_white.png"></li>
					<li class="dayuhao"><img src="<?php echo HomeImgUrl;?>/dayu_white.png"></li>
					<li class="bbq"><img src="<?php echo HomeImgUrl;?>/productsize_white.png"></li>
					<li class="dayuhao"><img src="<?php echo HomeImgUrl;?>/dayu_white.png"></li>
					<li class="bbq"><img src="<?php echo HomeImgUrl;?>/tablelist_white.png"></li>
				</ul>
			</div>
			<div class="up_select">
				<ul class="big_list">
					<li><div class="ele_div"><span class="font">视讯电器</span><span class="span" style="transform: rotate(270deg);transform-origin: center;margin-right: 11px;"><img src="<?php echo HomeImgUrl;?>/left_sel.png"></span></div>
						<!--<ul class="small_list">
							<li>电视机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>电脑
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>音响
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>有线电视机顶盒
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>网络电视机顶盒
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>路由器
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>电话机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>视频播放器
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>投影仪
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>打印机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>其他
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
						</ul>-->
					</li>
					<li><div class="ele_div"><span class="font">厨房电器</span><span class="span"><img src="<?php echo HomeImgUrl;?>/left_sel.png"></span></div>
						<!--<ul class="small_list">
							<li>冰箱
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>抽油烟机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>电饭煲
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>榨汁机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>搅拌机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>咖啡机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>烤箱
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>微波炉
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>热水器
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>厨电宝
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>洗碗机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>饮水机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>净水器
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>其他
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
						</ul>-->
					</li>
					<li><div class="ele_div"><span class="font">卫浴电器</span><span class="span"><img src="<?php echo HomeImgUrl;?>/left_sel.png"></span></div>
						<!--<ul class="small_list">
							<li>浴霸
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>卫洗丽
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>水牙线
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>吹风机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>洗衣机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>其他
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							
						</ul>-->
					</li>
					<li><div class="ele_div"><span class="font">其他电器</span><span class="span"><img src="<?php echo HomeImgUrl;?>/left_sel.png"></span></div>
						<!--<ul class="small_list">
							<li>空调挂机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>空调柜机
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>空气净化器
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>台灯
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
							<li>其他
								<span class="math"><button>-</button><span><input value="1" /><button>+</button></span>
							</li>
						</ul>-->
					</li>
				</ul>
				<div class="lala">
			<a href="{:U('Select/select_lst')}"><button>上一步</button></a>&nbsp;&nbsp;
			<a href="{:U('Select/add_selection1')}"><button class="nextele_btn">下一步</button></a>
		</div>
			</div>
		</div>
		<!--<div class="lala">
			<a href="Self_selection.html"><button>上一步</button></a>&nbsp;&nbsp;
			<a href="add_selection1.html"><button class="nextele_btn">下一步</button></a>
		</div>-->
	</body>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
                  $(function(){
                  	$('.big_list>li').eq(0).click(function(){
					$(this).find("img").toggleClass("rotate3").toggleClass("rotate4");
							})
                  //首先得到缓存在浏览器的房型值	
                 var mat=localStorage.getItem("hometype");
                 //发送ajax
	                $.ajax({
							type:"post",
							url:"__CONTROLLER__/searchOne",
							async:true,
							data:{home_type:mat},
						 	dataType:'json',
							success:function(result){
								var data =result;
//								$(data).each(function(i,index){})
								
									var sxqc=data.视讯电器;
									$(sxqc).each(function(i,item){
										if(item.xuan=='1'){
											$('.big_list>li').eq(0).append("<ul class='small_list' style='display: block;'><li class='xuan'>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_1 count' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
											
										}else{
											$('.big_list>li').eq(0).append("<ul class='small_list' style='display: block;'><li>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_1' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
										}
									})
									var cook=data.厨房电器;
									$(cook).each(function(i,item){
										if(item.xuan=='1'){
											$('.big_list>li').eq(1).append("<ul class='small_list'><li class='xuan'>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_2 count' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
										}else{
											$('.big_list>li').eq(1).append("<ul class='small_list'><li>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_2' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
										}
											
									})
									var body=data.卫浴电器;
									$(body).each(function(i,item){
										if(item.xuan=='1'){
											$('.big_list>li').eq(2).append("<ul class='small_list '><li class='xuan'>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_3 count' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
											
										}else{
											$('.big_list>li').eq(2).append("<ul class='small_list'><li>"+item.name+"<span class='math'><button class='pre'>-</button ><input class='v_3' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
										}
											
									})
									var other=data.其它电器;
									$(other).each(function(i,item){
										if(item.xuan=='1'){
											$('.big_list>li').eq(3).append("<ul class='small_list'><li class='xuan'>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_4 count' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
											
										}else{
											$('.big_list>li').eq(3).append("<ul class='small_list'><li>"+item.name+"<span class='math'><button class='pre'>-</button><input class='v_4' value='"+item.count+"'><button class='add'>+</button></span></li></ul>")
										}
									})
						//阻止冒泡事件		
									$(".small_list").click(function(event){
          		 					 event.stopPropagation();
        							});
								
//								alert("数据读取成功");

								$('.add').click(function(){
									var n=$(this).prev("input").val();
									n++;
									$(this).prev("input").val(n)
								})
								$('.pre').click(function(){
									var n=$(this).next("input").val();
									n--;
									if(n<'0'){
										n=0
									}
									$(this).next("input").val(n)
								})
								
							},error: function(XMLHttpRequest, textStatus, errorThrown) {
//								 alert(XMLHttpRequest.status);
//								 alert(XMLHttpRequest.readyState);
//								 alert(textStatus);
								},
							
						});
					//列表收缩	
						$('.big_list>li').click(function(){
					$(this).find("img").toggleClass('rotate1').toggleClass('rotate2');
					$(this).find(".small_list").slideToggle();
							})
				
						
					//阻止冒泡事件
       			 		$(".small_list").click(function(event){
          		 		 event.stopPropagation();
        			});
   	//点击下一步按钮
   							var sum=0;
        				$('.nextele_btn').click(function(){
//      					event.preventDefault();
							$('.xuan').each(function(i,item){
								sum+=Number($(item).find('.count').val());
								
							})
        					localStorage.setItem("xuanpeicount",sum);
        				
        				})
						
						})

				  wx.config({
					  debug: false,
					  appId: 'wx7e38a14dfcd9328a',
					  timestamp: '<?php echo $sign_data["timestamp"];?>',
					  nonceStr: '<?php echo $sign_data["nonceStr"];?>',
					  signature: '<?php echo $sign_data["signature"];?>',
					  jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone']
				  });
				  wx.ready(function() {
					  wx.onMenuShareTimeline({
						  title: '西门子家居电气自助选型', // 分享标题
						  link: 'http://www.wawechat.siemens.com.cn/Home/Select/select_lst', // 分享链接
						  imgUrl: '/Application/Home/public/Images/SIEMENS.png', // 分享图标
						  success: function() {
							//  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose'
						  },
						  cancel: function() {
							//  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose'
						  }
					  });
					  wx.onMenuShareAppMessage({
						  title: '西门子家居电气自助选型', // 分享标题
						  desc: '西门子家居电气自助选型', // 分享描述
						  link: 'http://www.wawechat.siemens.com.cn/Home/Select/select_lst', // 分享链接
						  imgUrl: '', // 分享图标
						  type: '', // 分享类型,music、video或link，不填默认为link
						  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
						  success: function() {
							  //  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  },
						  cancel: function() {
							  //window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  }
					  });
					  //分享到qq
					  wx.onMenuShareQQ({
						  title: '西门子家居电气自助选型', // 分享标题
						  desc: '西门子家居电气自助选型', // 分享描述
						  link: 'http://www.wawechat.siemens.com.cn/Home/Select/select_lst', // 分享链接
						  imgUrl: '', // 分享图标
						  success: function () {
							  // 用户确认分享后执行的回调函数
							  //  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  },
						  cancel: function () {
							  // 用户取消分享后执行的回调函数
							  // window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  }
					  });
					  //分享到腾讯微博
					  wx.onMenuShareWeibo({
						  title: '西门子家居电气自助选型', // 分享标题
						  desc: '西门子家居电气自助选型', // 分享描述
						  link: 'http://www.wawechat.siemens.com.cn/Home/Select/select_lst', // 分享链接
						  imgUrl: '', // 分享图标
						  success: function () {
							  // 用户确认分享后执行的回调函数
							  //  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  },
						  cancel: function () {
							  // 用户取消分享后执行的回调函数
							  // window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  }
					  });
					  //分享到qq空间
					  wx.onMenuShareQZone({
						  title: '西门子家居电气自助选型', // 分享标题
						  desc: '西门子家居电气自助选型', // 分享描述
						  link: 'http://www.wawechat.siemens.com.cn/Home/Select/select_lst', // 分享链接
						  imgUrl: '', // 分享图标
						  success: function () {
							  // 用户确认分享后执行的回调函数
							  // window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  },
						  cancel: function () {
							  // 用户取消分享后执行的回调函数
							  //  window.location = 'http://www.wawechat.siemens.com.cn/Home/Select/eletrical_choose';
						  }
					  });

				  });
				  wx.error(function(res) {
					  //	alert(res); // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
				  });
                  
                  
                  
                  
</script>
</html>