<layout name="layout"/>
<div class="div_from_aoto" style="width: 500px;">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <div class="control-group">
            <label class="laber_from">活动名称<sup style="color: red;">*</sup></label>
            <div class="controls"><input class="input_from" name="name" type='text' value="{$data['name']}">
                <P class=help-block></P></div>
        </div>
        <div class="control-group">
            <label class="laber_from">比赛时间<sup style="color: red;">*</sup></label>
            <div class="controls"><input class="input_from" name="game_time" type='text' value="{$data['name']}">
                <P class=help-block></P></div>
        </div>
        <div class="control-group">
            <label class="laber_from">主队<sup style="color: red;">*</sup></label>
            <div class="controls">
                <?php buildSelect(team,home_team_id,id,team_name, $data['home_team_id']);?>
            </div>
        </div>
        <div class="control-group">
            <label class="laber_from">客队<sup style="color: red;">*</sup></label>
            <div class="controls">
                <?php buildSelect(team,guest_team_id,id,team_name, $data['guest_team_id']);?>
            </div>

            <!--<div class="control-group">-->
                <!--<label class="laber_from">比赛结果<sup style="color: red;">*</sup></label>-->
                <!--<div class="controls">-->
                    <!--<select name="results">-->
                        <!--<option value="unknown"<?php if($data['type_id']=='unknown')echo 'selected';?>>未揭晓</option>-->
                        <!--<option value="home_win"<?php if($data['type_id']=='home_win')echo 'selected';?>>主胜</option>-->
                        <!--<option value="flat"<?php if($data['type_id']=='flat')echo 'selected';?>>平</option>-->
                        <!--<option value="guest_win"<?php if($data['type_id']=='guest_win')echo 'selected';?>>客胜</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <DIV class="control-group">
                <LABEL class="laber_from"></LABEL>
                <DIV class="controls">
                    <button type="submit" class="btn btn-primary" value="确认">确认</button>
                    <button type="reset" class="btn btn-primary" value="重置">重置</button>

                </DIV>
            </DIV>
    </form>
</div>


<script>
</script>