body, html {
    height: 100%;
}

body {
    background-color: #ffffff;
}

/*去除ios移动端触摸阴影*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/*logo*/
.logo-container {
    padding: 6%;
    height: 10%;
    box-sizing: border-box;
}

div.logo {
    box-sizing: border-box;
}

div.logo img {
    width: 30%;
}

.logo .inp-search {
    float: right;
    border: 1px solid #686868;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin: 0 10px 0 10px;
}

.logo i {
    float: right;
    color: #00A7AE;
}

/*logo end*/
.videos-container {
    height: 90%;
    position: relative;
}

/*tabs*/
.tabs {
    width: 95%;
    height: 35px;
    background-color: #686868;
    font-weight: 700;
    font-size: 16px;
    left: 50%;
    margin: 0 auto;
    border-radius: 8px;
}

.tabs .title {
    width: 33.333333%;
    height: 100%;
    color: #d9d9d9;
    float: left;
    text-align: center;
    line-height: 35px;
    transition: all 0.5s;

}

.tabs .title.active {
    background-color: #bdbec0;
    color: #ffffff;
    border-radius: 8px;
}

/*tabs end*/
/*videos begin*/

/*品牌视频*/
.videos-con:nth-of-type(2) {
    height: calc(100% - 35px);
    border: 1px solid white;
}

.videos-con:nth-of-type(2) .line.videos {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
    /*height: calc((100% - 80px) / 3);*/
    height: 240px;
}

.videos-con:nth-of-type(2) .line.videos .one {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    position: relative;

}

/*视频容器*/
.videos-con:nth-of-type(2) .con-player {
    /*width: 100%;*/
    height: 86%;
}

.videos-con:nth-of-type(2) .video-des {
    height: 14%;
}

.con-player .icon {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    width: 55px;
    height: 55px;
    z-index: 2000;
    border-radius: 40px;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    border: 2px solid #fff;
}

.con-player>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
/*播放按钮*/
.icon img{
    width: 34px;
    height: 55px;
    margin-left: 4px;
}

/*产品视频-一列*/
.videos-con:nth-of-type(3) {
    height: calc(100% - 35px);
    border: 1px solid white;
}

.videos-con:nth-of-type(3) .line.videos {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
    /*height: calc((100% - 80px) / 3);*/
    height: 240px;
}

.videos-con:nth-of-type(3) .line.videos .one {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    position: relative;

}

/*视频容器*/
.videos-con:nth-of-type(3) .con-player {
    /*width: 100%;*/
    height: 86%;
}

.videos-con:nth-of-type(3) .video-des {
    height: 14%;
}

.videos-con .loading{
    display: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 99999;
}

/*产品视频-两列*/
/*.videos-con:nth-of-type(3) {
    
    height: calc(100% - 35px);
    border: 1px solid white;
}

.videos-con:nth-of-type(3) .line.videos {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
    height: calc((100% - 80px) / 3);
}

.videos-con:nth-of-type(3) .line.videos .one {
    width: 46%;
    float: left;
    margin: 0 2%;
    height: 100%;
    position: relative;
}
.videos-con:nth-of-type(3) .con-player {
    width: 100%;
    height: 60%;
}
.videos-con:nth-of-type(3) .video-des{
    height: 39%;
}*/

/*@media screen and (max-width: )*/
.videos-con .line.videos .one video {
    width: 100%;
    height: 100%;
}

/*文字描述*/
.video-des {
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
}

/*封面图*/
.one img.cover {
    width: 100%;
    z-index: 1000;
}

.con-img {
    position: relative;
    width: 100%;
    height: 100%;

}

.con-img div.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-top: -25px;
    margin-left: -25px;
}

.con-player {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    -webkit-appearance: none;
    position: relative;

}

/*.con-player *{*/
/*border: 1px solid rgba(255,255,255,0) !important;*/
/*}*/

/*.con-player *{*/
/*background-color: #fff !important;*/
/*}*/

.com-player * {
    border: 1px solid #fff;
}

.tvp_overlay_play, .tvp_overlay_play_try, .tvp_overlay_replay {
    width: 56px !important;
    height: 56px !important;
    -webkit-border-radius: 28px !important;
    border-radius: 28px !important;
    border: 2px solid #fff !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.tvp_overlay_play .tvp_button_play, .tvp_overlay_play_try .tvp_button_play {
    left: 19px !important;
    top: 14px !important;
}

/*视频白色背景*/
.tvp_poster_img {
    background-color: #fff !important;
}

.tvp_video {
    background-color: #fff !important;
}

#player1 video {
    background-color: #fff !important;
}

.con-player .tvp_overlay_poster,
.con-player .tvp_container {
    background-color: #fff !important;
}

/*下载*/
.down{
    display: none;
    text-decoration: none;
    /*position: absolute;*/
    /*right: 5%;*/
    margin-left: 20px;
}
.down:active,.down:link,.down:visited{
    color: #333333;
}
/*下载 end*/
/*#player10 .tvp_overlay_poster,#player10 .tvp_poster_img,*/
/*#player10 .tvp_container*/

/*{*/
/*background-color: #fff !important;*/
/*}*/

/*videos end*/