.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webUploader-picker {
	/*margin-top: 10px;*/
	position: relative;
	display: inline-block;
	cursor: pointer;
	/*background: #686868;*/
	padding: 0px 15px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	font-size: 14px;
}
.webUploader-picker1 {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	z-index: 1000;
}
.webuploader-picker-hover {
	background: #00a2d4;
}

.webuploader-picker-disable {
	opacity: 0.6;
	pointer-events:none;
}

.file-item{
	width: 100px;
	word-break: break-word;
	float: left;
}

